:root{
    --green:#306B34;
    --black:#121420;
    --wblue:#E9F1F7;
    --gr:rgba(255, 133, 82,0.5);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
body{
    height: 100vh;
    width: 100%;
    background-image: url(GSBG.jpg);
    background-size: cover;
}
nav{
    height: 8%;
    width: 100%;
    background-color: #07080c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
nav span{
    color: var(--wblue);
}
#logo{
    color: var(--green);
}
#search{
    background-color: rgba(0, 0, 0,0.8);
    height: 5%;
    width: 26%;
    display: flex;
    position: relative;
    left: 37%;
    margin-top: 30px;
    align-items: center;
    border-radius: 10px;
}
#cityN{
    height: 100%;
    width:1000px;
    font-size: 1.5rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    background-color: rgba(0, 0, 0,0.4);
    color: #E9F1F7;
    padding-left: 20px;
}
#cityN::placeholder{
    color: #E9F1F7;
}
#cityN:active{
    background-color: rgba(0, 0, 0,0.4);
    color: #E9F1F7;
}
#fetchData{
    border: none;
    height: 100%;
    width: 150px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0,0.4);
    padding-left: 10px;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: larger;
}
main{
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
#container{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10%;
}
#dataBox{
    padding: 10px;
    height: 100%;
    width: 25%;
    background-color: rgba(223, 41, 53,0.4);
    backdrop-filter: blur(100px);
    box-shadow: 0px 0px 100px 20px rgba(0, 0, 0,0.8);
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 20px;
    color: white;
}

#cityName,#FcityName{
    background-color: rgba(233, 241, 247,0.9);
    border-radius: 30px;
    padding: 10px;
    color: var(--black);
    font-size: 2.5rem;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#AQI,#FAQI{
    font-size: 2.5rem;
    margin-left: 60px;
    margin-top: 20px;
}
#AQR,#FAQR{
    font-size: 1.5rem;
    margin-left: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.Pdata {
    margin-top: 10px;
    font-size: 1.5rem;
}
#PolluDta{
    margin-right: 100px;
    margin-bottom: 10px;
}
#health-box{
    color: var(--wblue);
    background-color: rgba(48, 107, 52,0.6);
    width: 30%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 100px 20px rgba(0, 0, 0,0.8);
}
#hR{
    font-size: 1.5rem;
}
#hRH{
    font-size: 2rem;
    font-weight: 600;
}
#forecast-box{
    background-color: rgba(233, 241, 247,0.4);
    height: 35%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
    border-radius: 5px;
    box-shadow: 0px 0px 100px 20px rgba(0, 0, 0,0.8);
}
#mapDiv{
    height: 100%;
    width:50%
}
#education {
    padding: 20px;
    background-color: #f0f5f9;
    border-radius: 8px;
    max-width: 800px;
    margin-top:10%;
    margin-left: 25%;
    font-family: Arial, sans-serif;
    box-shadow: 0px 0px 100px 10px rgba(0, 0, 0,0.8);
}

#education h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

.subsection {
    margin-bottom: 20px;
}

.subsection h4 {
    color: #34495e;
}

.subsection p, .subsection ul {
    color: #5d6d7e;
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 8px;
}

footer{
    background-color: #07080c;
    height: 75px;
    color: #E9F1F7;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
